In [27]:
import pandas as pd
import numpy as np

## Traning Set for Sentiment Analysis and Topic Analysis 

 The training set will have the following format: 

| sentence id | text | sentiment | topic |
| --- | --- | --- | --- |

- Arange each data in a topic accordingly

## Book Reviews

### Kindle Reviews

In [28]:
# read csv file
kindle_review_df = pd.read_csv('data/original/preprocessed_kindle_review.csv')

In [29]:
# examine the data
kindle_review_df.head()

,Unnamed: 0,rating,reviewText,summary
0,0,5,This book was the very first bookmobile book I...,50 + years ago...
1,1,1,"When I read the description for this book, I c...",Boring! Boring! Boring!
2,2,5,I just had to edit this review. This book is a...,Wiggleliscious/new toy ready/!!
3,3,5,I don't normally buy 'mystery' novels because ...,Very good read.
4,4,5,"This isn't the kind of book I normally read, a...",Great Story!

In [30]:
# rename the columns so that it will match the test set
kindle_review_df.rename(columns={'Unnamed: 0': 'sentence id', 'reviewText': 'text'}, inplace=True)
# add a new column called 'topic' and set topic to book
kindle_review_df['topic'] = 'book'
# set a sentiment column with following criteria
# if rating > 3, sentiment = positive ; if rating < 3, sentiment = negative ; if rating = 3, sentiment = neutral
kindle_review_df['sentiment'] = np.where(kindle_review_df['rating'] > 3, 'positive', np.where(kindle_review_df['rating'] < 3, 'negative', 'neutral'))

In [31]:
kindle_review_df.drop(['rating'], axis=1, inplace=True)
kindle_review_df.drop(['summary'], axis=1, inplace=True)
#reorder the columns
kindle_review_df = kindle_review_df[['sentence id', 'text', 'sentiment', 'topic']]

### Might add new book data eventually

### Book Topic Combined

In [32]:
book_df = kindle_review_df

# TODO: check counts of each sentiment and make sure it is balanced esp. for positive and negative

## Movie Reviews

In [59]:
rotten_review_df = pd.read_csv('data/original/rotten_tomatoes_critic_reviews.csv')
rotten_review_df.head()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...

In [60]:
# drop rows with review_score or review_content is null
rotten_review_df.dropna(subset=['review_score', 'review_content'], inplace=True)
# drop columns that are not needed
rotten_review_df.drop(['review_date', 'top_critic', 'review_type', 'critic_name', 'rotten_tomatoes_link', 'publisher_name'], axis=1, inplace=True)
rotten_review_df.reset_index(drop=True, inplace=True)

In [61]:
# cast review_score to float if possible for example it is '3/5' then it should be 3/5 = 0.6 
# first remove if review_score has /0 pattern in it
rotten_review_df = rotten_review_df[~rotten_review_df['review_score'].str.contains('/0')]
rotten_review_df['review_score'] = rotten_review_df['review_score'].apply(lambda x: float(x.split('/')[0])/float(x.split('/')[1]) if '/' in x else -1)
# drop rows with review_score = -1
rotten_review_df = rotten_review_df[rotten_review_df['review_score'] != -1]
# if review_score > 0.5, sentiment = positive ; if review_score < 0.5, sentiment = negative ; if review_score = 0.5, sentiment = neutral
rotten_review_df['sentiment'] = np.where(rotten_review_df['review_score'] > 0.5, 'positive', np.where(rotten_review_df['review_score'] < 0.5, 'negative', 'neutral'))
# rename the columns so that it will match the test set
rotten_review_df.rename(columns={'review_content': 'text'}, inplace=True)
# add a new column called 'topic' and set topic to movie
rotten_review_df['topic'] = 'movie'
# add sentence id 
rotten_review_df['sentence id'] = rotten_review_df.index
# reorder the columns
rotten_review_df = rotten_review_df[['sentence id', 'text', 'sentiment', 'topic']]

In [64]:
# save new dataframe to csv file as original is too large
rotten_review_df.to_csv('data/original/rotten_tomatoes_critic_reviews_preprocessed.csv', index=False)

### Might add new movie data eventually

### Movie Topic Combined

In [ ]:
movie_df = rotten_review_df
# TODO: check counts of each sentiment and make sure it is balanced esp. for positive and negative